@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/*
COLORS
Background - #222
Red - #d11717
Green - #0b841e
Orange - #ce7b1c
Blue - #190eb2
Silver - #888
Commuter Rail - #82079b
Bus - #d8cc22
Ferry -
Grey -
*/


body{
  background-color: #222;
  margin: 0;
}

h1{
  text-align: center;
  font-size: 50px;
  line-height: 2px;
}
h2{
  font-weight: 300;
  text-align: center;
}
h3{
  font-weight: 300;
  text-align: center;
}
p{
  font-weight: 300;
  text-align: center;
}

.link-text{
  font-size: 16px;
}

.updates{
    float: left;
    color: white;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    padding-left: 20px;
}

.note{
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
}

.coming-soon{
  margin-top: -50px;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
}

button{

}

.station-header{
  padding-top: 30px;
  width: 100%;
  height: 100px;
  border-bottom: 10px solid white;
  font-weight: 500;
  letter-spacing: 4px;
  font-family: "Roboto", Arial, sans-serif;
}

.station-title{
  font-size: 60px;
}

.br-red{
  background-color: #d11717;
}
.br-orange{
  background-color: #ce7b1c;
}
.br-green{
  background-color: #0b841e;
}
.br-blue{
  background-color: #190eb2;
}
.br-silver{
  background-color: #888;
}
.br-shared{
  background-color: #333;
}
.br-news{
  background-color: #b5a68b;
}
.br-cr{
  background-color: #82079b;
}
.br-ferry{
  background-color: #1ec3e8;
}
.br-bus{
  background-color: #d8cc22;
}
.cl-red{
  color: #d11717;
}
.cl-orange{
  color: #ce7b1c;
}
.cl-green{
  color: #0b841e;
}
.cl-blue{
  color: #190eb2;
}
.cl-silver{
  color: #888;
}
.cl-shared{
  color: #333;
}
.cl-cr{
  color: #82079b;
}
.cl-ferry{
  color: #1ec3e8;
}
.cl-news{
  color: #b5a68b;
}
.hv-red:hover{
  color: white;
  background-color:  red;
  text-decoration-color: white;
  border-radius: 5px;
}
.hv-orange:hover{
  color: white;
  background-color:  orange;
  text-decoration-color: white;
  border-radius: 5px;
}
.hv-green:hover{
  color: white;
  background-color:  green;
  text-decoration-color: white;
  border-radius: 5px;
}
.hv-blue:hover{
  color: white;
  background-color:  blue;
  text-decoration-color: white;
  border-radius: 5px;
}
.hv-silver:hover{
  color: white;
  background-color:  #888;
  text-decoration-color: white;
  border-radius: 5px;
}
.hv-shared:hover{
  color: white;
  background-color: #333;
  text-decoration-color: #333;
  border-radius: 5px;
}
.hv-cr:hover{
  color: white;
  background-color: #82079b;
  text-decoration-color: #82079b;
  border-radius: 5px;
}
.hv-ferry:hover{
  color: white;
  background-color: #1ec3e8;
  text-decoration-color: #1ec3e8;
  border-radius: 5px;
}
.hv-news:hover{
  color: white;
  background-color: #b5a68b;
  text-decoration-color: #b5a68b;
  border-radius: 5px;
}
.hv-bus:hover{
  color: white;
  background-color: #d8cc22;
  text-decoration-color: #d8cc22;
  border-radius: 5px;
}
.introduction{
  padding-top: 30px;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: white;
}
.stats{
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
}
.bus-routes{
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
}
table{
  margin: 0 auto;
  /* height: 300px; */
  width: 80%;
}
.bus-route-table{
  height: 100px;
}
th, td{
  font-weight: 300;
  text-align: center;
}
th{
  height: 60px;
  width: 40%;
}

.ttt{
  width: 90%;
}

.tb-red{
  border-bottom: 2px solid red;
}
.tb-blue{
  border-bottom: 2px solid blue;
}
.tb-green{
  border-bottom: 2px solid green;
}
.tb-orange{
  border-bottom: 2px solid orange;
}
.tb-silver{
  border-bottom: 2px solid #888;
}
.tb-shared{
  border-bottom: 2px solid #333;
}
.tb-cr{
  border-bottom: 2px solid #82079b;
}
.tb-bus{
  border-bottom: 2px solid #d8cc22;
}
.tb-ferry{
  border-bottom: 2px solid #1ec3e8;
}
.tb-news{
  border-bottom: 2px solid #b5a68b;
}
td{
border-bottom: 2px solid white;
}
.ol-red{
  border: 6px solid red;
}
.ol-green{
  border: 6px solid green;
}
.ol-silver{
  border: 6px solid #888;
}
.ol-orange{
  border: 6px solid orange;
}
.ol-blue{
  border: 6px solid blue;
}
.ol-cr{
  border: 6px solid #82079b;
}
.ol-bus{
  border: 6px solid #d8cc22;
}
.ol-ferry{
  border: 6px solid #1ec3e8;
}
.ol-shared{
  border: 6px solid #333;
}
.in-line{
  font-size: 19px;
}
.news-in-line{
  font-size: inherit;
}
.news-introduction{
  font-size: 25px;
}
.news-body{
  /* display: inline-block; */
  font-size: 17px;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  margin-left: 40px;
  margin-right: 40px;
}
.station-image{
  width: auto;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.station-image-div{
  text-align: center;
}
.news-image-center{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.news-image-left{
  width: 50%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.news-image-right{
  width: 50%;
  float: right;
  margin-left: 20px;
  margin-top: 20px;
}
.ul-red{
  -webkit-text-decoration-color: #d11717;
  text-decoration: underline;
  text-decoration-color: #d11717;
}
.ul-blue{
  -webkit-text-decoration-color: #190eb2;
  text-decoration: underline;
  text-decoration-color: #190eb2;
}
.ul-orange{
  -webkit-text-decoration-color: #ce7b1c;
  text-decoration: underline;
  text-decoration-color: #ce7b1c;
}
.ul-green{
  -webkit-text-decoration-color: #0b841e;
  text-decoration: underline;
  text-decoration-color: #0b841e;
}
.ul-silver{
  -webkit-text-decoration-color: #888;
  text-decoration: underline;
  text-decoration-color: #888;
}
.ul-shared{
  -webkit-text-decoration-color: #333;
  text-decoration: underline;
  text-decoration-color: #333;
}
.ul-cr{
  -webkit-text-decoration-color: #82079b;
  text-decoration: underline;
  text-decoration-color: #82079b;
}
.ul-ferry{
  -webkit-text-decoration-color: #1ec3e8;
  text-decoration: underline;
  text-decoration-color: #1ec3e8;
}
.ul-news{
  -webkit-text-decoration-color: #b5a68b;
  text-decoration: underline;
  text-decoration-color: #b5a68b;
}
.ul-bus{
  -webkit-text-decoration-color: #d8cc22;
  text-decoration: underline;
  text-decoration-color: #d8cc22;
}


#error-404{
  margin-top: 40vh;
}

.tt{
  height: 20px;
}

box-parent{
  display: grid;
  height: 100%;
  width: 100%;
  padding: 20px 0;
  grid-template-areas: "header header  "
                       "red    red     "
                       "green  green   "
                       "orange orange  "
                       "blue   blue    "
                       "silver silver  "
                       "cr     cr      "
                       "bus    bus     "
                       "ferry  ferry   "
                       "news   news    "
                       "footer footer  ";
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 1fr 1fr 1fr 1fr 800px;
  position: relative;
}



header{
  grid-area: header;
  font-family: "Roboto", Arial, sans-serif;
  padding-bottom: 20px;
  color: white;
}

.station:hover{
  background-color: #222;
}

.red{
  grid-area: red;
  left: 5%;
  background-color: #d11717;
  border: 3px solid #d11717;
}

.s-red{
  background-color: #d11717;
  border: 3px solid #d11717;
}

.green{
  grid-area: green;
  left: 5%;
  background-color: #0b841e;
  border: 3px solid #0b841e;
}

.orange{
  grid-area: orange;
  left: 5%;
  background-color: #ce7b1c;
  border: 3px solid #ce7b1c;
}

.blue{
  left: 5%;
  grid-area: blue;
  background-color: #190eb2;
  border: 3px solid #190eb2;
}

.silver{
  left: 5%;
  grid-area: silver;
  background-color: #888;
  border: 3px solid #888;
}

.grey{
  left: 5%;
  background-color: #555;
  border: 3px solid #555;
}

.cr{
  left: 5%;
  grid-area: cr;
  background-color: #82079b;
  border: 3px solid #82079b;
}

.bus{
  left: 5%;
  grid-area: bus;
  background-color: #d8cc22;
  border: 3px solid #d8cc22;
}

.ferry{
  left: 5%;
  grid-area: ferry;
  background-color: #1ec3e8;
  border: 3px solid #1ec3e8;
}
.news{
  left: 5%;
  grid-area: news;
  background-color: #b5a68b;
  border: 3px solid #b5a68b;
}

a{
  text-decoration: none;
  color: white;
  font-size: 24px;
  height: inherit;
}

.line{
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
  height: 100px;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.line:hover{
  background-color: #222;
}

.red:hover{
  border: 3px solid red;
}
.green:hover{
  border: 3px solid green;
}
.orange:hover{
  border: 3px solid orange;
}
.blue:hover{
  border: 3px solid blue;
}
.silver:hover{
  border: 3px solid #888;
}
.grey:hover{
  border: 3px solid #555;
}
.cr:hover{
  border: 3px solid #82079b
}
.bus:hover{
  border: 3px solid #d8cc22;
}
.ferry:hover{
  border: 3px solid #1ec3e8;
}
.news:hover{
  border: 3px solid #b5a68b;
}

.line:checked{
  box-shadow: 0;
}

footer{
  background-color: #333;
  grid-area: footer;
  font-family: "Times New Roman", Times, serif;
  line-height: 100%;
  color: #666;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
}

#footer-link{
  font-family: "Times New Roman", Times, serif;
  color: #666;
  line-height: 100%;
  font-size: 16px;
  text-decoration: underline;
}

.s-full{
  width: 60%;
  height: 75px;
  line-height: 35px;
  margin-bottom: 20px;
}

.before-split{
  margin-bottom: 40px;
}

.s-left{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 58px;
  padding-right: 58px;
  height: 75px;
  line-height: 35px;
  margin-right: 20px;
}


.s-right{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 58px;
  padding-right: 58px;
  height: 75px;
  line-height: 35px;
  margin-left: 20px;
}

.s-1, .s-2{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 58px;
  padding-right: 58px;
  height: 75px;
  line-height: 35px;
  margin-right: 20px;
}

.s-3, .s-4{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 58px;
  padding-right: 58px;
  height: 75px;
  line-height: 35px;
  margin-left: 20px;
}

.no-show{
  visibility: hidden;
}

.last{
  margin-bottom: 100px;
}

.simp-txt{
  width: 30%;
  color: white;
  background-color: #333;
  padding: 8px 14px;
  box-sizing: border-box;
  border: none;
  border: 3px solid #333;
  font-size: 14px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.simp-txt:focus{
  width: 30%;
  background-color: #555;
  border: 3px solid #999;
}

.eml{
  width: 30%;
  color: white;
  background-color: #333;
  padding: 8px 14px;
  box-sizing: border-box;
  border: none;
  border: 3px solid #333;
  font-size: 14px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  border-radius: 3px;
}
.eml:focus{
  width: 50%;
  background-color: #555;
  border: 3px solid #999;
}

.comment{
  width: 40%;
  height: 50px;
  color: white;
  background-color: #333;
  padding: 8px 14px;
  box-sizing: border-box;
  border: none;
  border: 3px solid #333;
  font-size: 14px;
  -webkit-transition: width 0.5s ease-in-out;
  -webkit-transition: height 1s ease-in-out;
  transition: width 0.5s ease-in-out;
  transition: height 1s ease-in-out;
  border-radius: 3px;
}
.comment:focus{
  width: 75%;
  height: 200px;
  background-color: #555;
  border: 3px solid #999;
}

#submit-button{
  width: 20%;
  height: 50px;
  color: white;
  background-color: #333;
  border: 2px solid #999;
  font-size: 14px;
  border-radius: 3px;
}

@media screen and (max-width: 500px){
  .line{
    width: 100%;
  }
  .s-left{
    padding-left:20px;
    padding-right:20px;
  }
  .s-right{
    padding-left:20px;
    padding-right:20px;
  }
  h1{
    line-height: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .station-header{
    height: 250px;
  }
  .introduction{
    margin-left: 10px;
    margin-right: 10px;
  }
}
